.Group {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.Group h3 {
  font-family: 'Roboto', sans-serif;
}

.Group h1 {
  text-align: center;
}

.Group .upper {
  display: flex;
  flex-flow: row wrap;
}

.Group .form {
  width: 40%;
  border: 1px #212121 solid;
  padding: 10px;
  box-sizing: border-box;
}

.Group .input {
  color: #BDBDBD;
}

.Group .input > div {
  width: 100%!important;
}

.Group .avgScore {
  width: 60%;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
}

.Group .avgScore h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.Group .avgScore div {
  float: left;
  height: 100%;
}

.Group .avgScore .red + div {
  height: 36px;
  margin-top: 20px;
}

.Group .avgScore .rand-name {
  padding-top: 20px;
}

.Group .green {
  background-color: #4CAF50;
}

.Group .yellow {
  background-color: #FFEB3B;
}

.Group .red {
  background-color: #F44336;
}

.Group .lower {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.Group .paper {
  margin-top: 40px;
  padding: 10px;
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.Group .student-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.Group .student {
  width: 200px;
  height: 250px;
  margin-bottom: 10px;
  text-align: center;
  background: inherit;
  cursor: pointer;
  transition: .3s ease;

}

.Group .student:hover {
  background: #E0E0E0;
}

.Group .picture {
  width: 80%;
  border-radius: 50%;
}

.Group .color {
  width: 100%;
  height: 30px;
}
