.Student {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.Student .paper {
  padding: 50px;
}

.Student .upper, .Student .lower {
  display: flex;
  flex-flow: row wrap;
}

.Student img {
  width: 100px;
  height: 100px;
}

.Student .heading {
  padding-left: 50px;
}

.Student h3 {
  margin: 0;
}

.Student h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.Student .dayColor {
  height: 30px;
  width: 30px;
  float: left;
}

.Student .lower p {
  width: 100%;
}

.Student .green {
  background-color: #4CAF50;
  height: 30px;
  width: 30px;
}

.Student .orange {
  background-color: #FF5722;
  height: 30px;
  width: 30px;
}

.Student .red {
  background-color: #F44336;
  height: 30px;
  width: 30px;
}

.Student .form {
  padding-left: 50px;
}

.Student .form textarea {
  margin-top: 0!important;
}
